.character-sheet {
  background-image: url('../fancy-paper.jpg');
  width: 73rem;
  height: 96rem;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  font-family: 'Almendra Display', cursive;
  font-weight: 700;
  display: flex;
}

.flex-grid {
  display: flex;
}
.flex-grid .col {
  width: 32%;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
